h1, p {
    margin: inherit;
    padding: inherit;
}

img {
    vertical-align: top;
    width:300px
}

body {
    background-image: url(images/bg.png);
    background-size: cover;
}

.contents {
    /* background-color: aquamarine; */
    margin-top: 100px;
}

.section.fox {
    text-align: center;
}

.text {
    background-color: #964B00;
    text-align: left;
    max-width: 280px;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px;
    border-radius: 0 0 10px 10px;
    border-color: #964B00;
    color: white;
    box-shadow: 0px 10px 0px #5e3001;
}

.text p {
    color: #ccc;
}