* {
    box-sizing: border-box;
}

#mainForm {
    width: 460px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #FF8787;
}

#mainForm fieldset {
    border: none;
}

#mainForm legend {
    font-size: 1.3em;
    text-align: center;
}

#mainForm label {
    display: block;
}

#mainForm input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* 가상클래스 valid. input에 입력받은 값이 유효하다면을 의미합니다. */
#mainForm input:valid {
    background-color: #E5EBB2;
}

#mainForm button {
    float: right;
    padding: 10px;
    margin-left: 10px;
    background-color: #F8C4B4;
    cursor: pointer;
    border: none;
}

#mainForm progress {
    width: 100%;
}