h1, h2, p, ul {  
    margin: 0; 
    padding: 0;
 }

.section {
    background-image: url(images/icon-information.png);
    background-repeat: no-repeat;
    background-position: right 30px center;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.skill {
    background-image: url(images/icon-skills.png);
}

.section h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size : inherit;
    font-weight: inherit;
}

a {
    color : inherit;
    text-decoration: inherit;
}

body {
    background-color: aquamarine;
}
 
.wrapper {
    background-color : #ddd;
    width: 800px;
    margin: 0 auto;
}


.header {
    color: white;
    text-align: center;
    padding: 50px 0;
    background-image: url(images/cover03.png);
    background-size: cover;
}

.header img {
    border-radius:50%;
    border: 5px solid white;
}

.header h1 {
    font-size: 80px;
    font-weight: bold;
}

.header p {
    border-top: 5px solid;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
}
.contents {
    background-color: whitesmoke;
}

.section {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.footer {
    text-align: center;
    background-color: #eee;
    padding: 20px 0;
}

.link {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 40px;
    border: 4px solid;
    color: #ccc;
}

.link.purple {
    color: violet;
}

.link.blue {
    color: dodgerblue;
}

.link.black {
    color: black;
}
