/* resets */
h1, p {
    margin: 0;
}

img {
    vertical-align: top;
}

/* Layouts */
.wrapper {
    width: 300px;
    margin: 100px auto;
}

body {
    background-image:url(images/bg.png);
}

.animal {
}

.ground {
    background-image: url(images/green.png);
    background-repeat: no-repeat;
    background-color: #9c6133;
    color: #d2baad;
    padding: 80px 30px 30px 30px;
    border-radius: 0 0 26px 26px;
    border-bottom: 10px solid #4a260b;
}

.ground h1 {
    color: white;
}