:root {
	--main-color: rgb(55, 170, 236);
	--main-rgb: 55, 171, 236;
	--outline-border: rgb(55, 160, 236);
	--red-color: rgb(243, 124, 75);
	--red-rgb: 243, 124, 75;
	--black-color: #28303f;
	--white-color: #fff;
	--gray-color: #767676;
	--border-color: #ddd;
	--gray-background-light: #f9f9f9;
	--gray-background: #f5f5f5;
	--gray-text: #6f6f6f;
	--border-radius: 0.4em;
}

/* 공통 css */
h1,
a,
div,
p,
section,
article,
input,
textarea {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	line-height: 1.4;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
}

a {
	border-radius: 0.8rem;
	overflow: hidden;
}
img {
	vertical-align: bottom;
}

a:focus,
input:focus,
button:focus,
textarea:focus {
	outline: 3px solid rgba(var(--main-rgb), 0.2);
	box-shadow: 0 0 0 1px var(--outline-border);
}

body {
	background: var(--gray-background-light);
}

.a11y-hidden {
	overflow: hidden;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}

.max-width {
	width: 1224px;
	max-width: calc(100% - 4rem);
	margin: 0 auto;
}

.link-underline {
	display: block;
	width: 5em;
	text-align: center;
	text-decoration: underline;
	color: var(--gray-color);
	padding: 0.4rem 1rem;
	margin: 1rem 0 auto auto;
	transition: all 0.3s;
}

.link-underline:hover {
	color: var(--main-color);
}

.not-found {
	text-align: center;
	margin-top: 8rem;
}

.not-found h2 {
	color: var(--main-color);
	font-size: 5rem;
	font-weight: bold;
}

.not-found p {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
	height: 4rem;
	padding: 0.2rem 1.2em 0;
	border: 0;
	border-radius: var(--border-radius);
	background: var(--main-color);
	color: var(--white-color);
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1;
}

.button img {
	height: 1.2em;
	margin-top: -0.2rem;
	vertical-align: middle;
}

.button.fullWidth {
	width: 100%;
}
.button.gray {
	background: var(--gray-background);
	color: var(--black-color);
}
.button.white {
	padding: 0.2rem 0.8em 0;
	background: var(--white-color);
	color: var(--black-color);
}
.button.white img {
	height: 1.4em;
}

.btn-delete:focus {
	outline-color: rgba(var(--red-rgb), 0.2);
	box-shadow: 0 0 0 1px var(--red-color);
}

/* 저장 버튼 */
.btn-save {
	width: 9.6rem;
	height: 4rem;
	padding-left: 2.4rem;
	border: 1px solid rgba(var(--main-rgb), 0.5);
	border-radius: var(--border-radius);
	background: var(--white-color) url(./assets/icon-save.svg) no-repeat 2rem 50% / 1.6rem;
	transition: all 0.3s;
}
.btn-save:hover {
	background: var(--main-color) url(./assets/icon-save-white.svg) no-repeat 2rem 50% / 1.6rem;
	color: var(--white-color);
}

/* 뒤로가기 */
.btn-back {
	width: 6.4rem;
	height: 6.4rem;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	background: var(--gray-background) url(./assets/ArrowLeft-blue.svg) no-repeat 50% 50% / 4rem;
	font-size: 1.6rem;
}

.btn-like {
	width: 12rem;
	height: 4rem;
	padding-left: 3rem;
	border: 1px solid rgba(var(--red-rgb), 0.5);
	border-radius: var(--border-radius);
	background: var(--white-color) url(./assets/icon-like.svg) no-repeat 2.5rem 50% / 2.4rem;
	transition: all 0.3s;
}
.btn-like:hover,
.btn-like.active {
	background: var(--red-color) url(./assets/icon-like-white.svg) no-repeat 2.5rem 50% / 2.4rem;
	color: var(--white-color);
}
.btn-like:focus {
	outline-color: rgba(var(--red-rgb), 0.2);
	box-shadow: none;
}

.btn-modify,
.btn-delete {
	width: 4rem;
	height: 4rem;
	border: 0;
	border-radius: var(--border-radius);
	transition: all 0.3s;
}
.btn-modify {
	background: var(--gray-background) url(./assets/icon-modify.svg) no-repeat 50% 50% / 1.6rem;
	right: 13rem;
}
.btn-modify:hover {
	background: var(--main-color) url(./assets/icon-modify-white.svg) no-repeat 50% 50% / 1.6rem;
}

.btn-delete {
	background: var(--gray-background) url(./assets/icon-delete.svg) no-repeat 50% 50% / 1.6rem;
}

.btn-delete:hover {
	background: var(--red-color) url(./assets/icon-delete-white.svg) no-repeat 50% 50% / 1.6rem;
}