/* Resets */
h1, p {
    margin: 0;
}

img {
    vertical-align: top;
}


/* Layouts */
.wrapper {
    width: 400px;
    margin: 100px auto;
}

/* Components */
body {
    background-image: url(images/bg.png);
}

.animal-cover {
    display: block;
    margin: 0 auto;
}

.animal-ground {
    background-image: url(images/green.png);
    background-repeat: repeat-x;
    background-color: #9c6133 ;
    color: #d2baad;
    padding: 80px 30px 30px 30px;
    border-radius: 0 0 26px 26px;
    border-bottom: 10px solid #4a260b;
}

.animal-ground h1 {
    color: white;
    margin-bottom: 14px;
}

.animal-ground p + p {
    margin-top: 1em;
}
