@mixin avatar($size, $circle: false) {
    width: $size;
    height: $size;
  
    @if $circle {
      border-radius: $size / 2;
    }
  }
  
  .square-av {
    @include avatar(100px, $circle: false);
  }
  .circle-av {
    @include avatar(100px, $circle: true);
  }

$light-background: #f2ece4;
$light-text: #036;
$dark-background: #6b717f;
$dark-text: #d2e1dd;

@mixin theme-colors($light-theme: true) {
  @if $light-theme {
    background-color: $light-background;
    color: $light-text;
  } @else {
    background-color: $dark-background;
    color: $dark-text;
  }
}

.banner {
  @include theme-colors($light-theme: true);
  body.dark & {
    @include theme-colors($light-theme: false);
  }
}

@mixin triangle($size, $color, $direction) {
    height: 0;
    width: 0;
  
    border-color: transparent;
    border-style: solid;
    border-width: ($size/2);
  
  
    @if $direction == up {
      border-bottom-color: $color;
    } @else if $direction == right {
      border-left-color: $color;
    } @else if $direction == down {
      border-top-color: $color;
    } @else if $direction == left {
      border-right-color: $color;
    } @else {
      @error "Unknown direction #{$direction}.";
    }
  }
  
  .next {
    @include triangle(5px, black, right);
  }

  @for $i from 1 through 5 {
    .test#{$i} {
      background-image: url("../assets/phoster#{$i}.png");
    }
  } 


  $color-palette: #dad5d2 #3a3532 #375945 #5b8767 #a6c198 #dbdfc8;

  @each $color in $color-palette {
    .icon-#{$color}{
      background: $color;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }

  @function scale-below($value, $base, $ratio: 1.618) {
    @while $value > $base {
      $value: ($value/$ratio);
    }
    @return $value;
  }
  
  $normal-font-size: 16px;
  .sup {
    font-size: scale-below(20px, 8px);
  }

  @function pow($base, $exponent) { 
    $result: 1;
    @for $_ from 1 through $exponent {
      $result: $result * $base;
    }
    @return $result;
  }
  
  .sidebar {
    float: left;
    margin-left: pow(4, 3) * 1px;
  }