.card-list {
	display: flex;
	gap: 24px;
}

.card-list li {
	flex: 1 1 0;
}

.card-list li a {
	display: block;
	border-radius: 10px;
	overflow: hidden;
}

.card-list li .thumbnail {
	width: 100%;
	height: 0;
	padding-top: 60%;
	position: relative;
	overflow: hidden;
}

.card-list li .thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-list li .content {
	word-break: break-all;
	font-size: 14px;
	line-height: 1.2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
}