/* 
여러줄 주석이며
이 주석은 css로 변환될 때 보입니다.
*/
// ex-1
nav{
    background: lightskyblue;
    padding: 10px;
    height: 50px;
    ul{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        li{
            color:white;
            margin-right: 10px;
        }
    }
}

// ex-2
.background-img{
    width: 100%;
    height: auto;
    background: {
        image: url("./sample.jpg");
        position: center center;
        repeat: no-repeat;
    }
}

.box{
    width:300px;
    height: 300px;
    background-color: red;
    transition: all 1s;
    &:hover{
        background-color: blue;
    }
}

.one{
    color: red;
    .two{
        color: green;
        .three{
            color: blue;
            @at-root p{
                color:lightskyblue;
            }
        }
    }
}