.box {
    &-yellow {
        background: yellow;
    }
    &-red {
        background: red;
    }
}

.btn {
    &-submit {
        background: yellow;
    }
    &-close {
        background: red;
    }
}