// 변수의 type
// numbers, strings, color, booleans, lists, map, null


// - numbers : 1, .82, 20px, 2em 등
// - strings : "./images/a.png", bold, left, uppercase 등
// - colors : green, #FFF, rgba(255,0,0,.5) 등
// - booleans : true, false
// - lists
// - maps
// - null

// number (숫자)
$one : 1;

// string (문자)
$two : './assets/img/';
$three : 'background.png';
.test {
    background-image: url($two + $three);
}

// color (색)
$four : #fff;

// booleans (참, 거짓) - 논리형
$five : true;

// null
$six : null;

// list (0부터 시작하지 않습니다.)
$font-size : 10px 12px 16px; //폰트사이즈 리스트
// $image-file : photo_01, photo_02, photo_03; //이미지 파일명 리스트

.test2 {
    font-size: nth($list: $font-size, $n: 2);
}
.test3 {
    font-size: nth($font-size, 2);
}
// .test33 {
//     font-size: nth($font-size, 10);
// }

// maps
$font-weights: ("regular": 400, "medium": 500, "bold": 700); //글자 굵기 리스트

//아래와 같은 형태로 사용 - ruby sass
.test4 {
    font-weight: map-get($font-weights, "medium"); // 500
}

.test5 {
    font-weight: map-get($font-weights, "hello");
}