.info{
    $line-normal : 1.34; // 지역변수
    font-size : 15px;
    line-height : $line-normal;
    text-align : right;
    span{
            line-height : $line-normal;
        }
}

// step 1
// .one {
//     line-height : $line-normal;
// }

// step 2
// .one {
//     $size : 12px;
//     font-size: $size;
// }

// .two {
//     $size : 14px;
//     font-size: $size;
// }

// step 3
.one {
    $size : 12px !global; // 권하지 않습니다.
    font-size: $size;
}

.two {
    font-size: $size;
}