// scss를 사용
// @mixin 이름(매개변수) //생성
// @include 이름(인수)  //사용

// 파선아실

@mixin center-xy{
	display: flex;
	justify-content : center;
	align-items : center;
}

.card{
	@include center-xy; // 정의한 center-xy mixin을 사용하여 코드 한줄이면 끝!
}

.aside{
	@include center-xy; 
}