// Scss
%modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 6px;
  }
  
  .login-modal {
    @extend %modal;
    width: 272px;
    height: 405px;
    padding: 10px 20px;
  }
  
  .event-modal {
    @extend %modal;
    width: 340px;
    height: 160px;
    padding: 18px;
  }