/* reset */
body,
h1,
p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

/* font */
@font-face {
	font-family: "SpoqaHanSansNeo-Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SpoqaHanSansNeo-Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/* rem 단위 기준 */
html {
	font-size: 10px;
}

body {
	font-family: "SpoqaHanSansNeo-Regular";
	font-size: 1.6rem;
	color: #121314;
}

strong {
	font-family: "SpoqaHanSansNeo-Bold";
}

.blind {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.wrap {
	display: flex;
	gap: 8%;
	width: 120rem;
	max-width: calc(100% - 6rem);
	margin: 24rem auto;
}

.section-text h1 {
	font-size: 7rem;
	font-weight: normal;
	word-break: keep-all;
}

.section-text p {
	margin-top: 2rem;
	font-size: 2rem;
	color: #47494d;
	line-height: 1.5;
}

.section-field {
	flex-basis: 40.5%;
	flex-shrink: 0;
}

.section-field ul {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.section-field ul li a {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15.2rem;
	width: 100%;
	height: 100%;
	padding: 4rem 3rem 3rem 4rem;
	box-sizing: border-box;
	border-radius: 2rem;
	color: #fff;
}

.field-video a {
	background: url(./img/background1.jpg) no-repeat 50% 50% / cover;
}

.field-book a {
	background: url(./img/background2.jpg) no-repeat 50% 50% / cover;
}

.section-field .field-title {
	display: block;
	font-family: "SpoqaHanSansNeo-Bold";
	font-size: 3rem;
}

.section-field .field-go {
	display: block;
	text-align: right;
	padding-right: 1.3em;
	background: url(./img/arrow.svg) no-repeat right 50% / 1.25em;
	font-size: 1.6rem;
}

/* 태블릿 */
@media (max-width: 768px) {
	.wrap {
		flex-direction: column;
	}

	.section-text p {
		font-size: 1.8rem;
	}

	.section-field ul {
		flex-direction: row;
	}

	.section-field ul li {
		flex-basis: 50%;
	}
}

/* 모바일 */
@media (max-width: 500px) {}